<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    {% block site_title %}
    <title>Mediation Tool (prototype)</title>
    {% endblock site_title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/newsfeed/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/newsfeed/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            {% block header_wrapper %}
            <!-- Header -->
            <header id="header">
            {% block header_logo %}
              <div class="logo">
                <a href="index.html">Mediation tool</a>
              </div>
            {% endblock header_logo %}
            </header>
            {% endblock header_wrapper %}

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>General consensus</h1>
                    <p>This page shows you the <strong>like ratios</strong> for every possible settings.
                    This is based on all the votes we collected on this mediation tool platform.</p>
                  </div>
                </div>
              </div>
            </div>

<br>



{% if all_config %}
<table style="width:100%">
  <tr>
    <th> </th>
    <th>Age</th>
    <th>Gender</th>
    <th>Age & Gender</th>
  </tr>
  <tr>
    <th>Algo A</th>
    <th>{% for config in all_config %}{% if config.age and not config.gender and config.algoA %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if not config.age and config.gender and config.algoA %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if config.age and config.gender and config.algoA %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
  </tr>
  <tr>
    <th>Algo B</th>
    <th>{% for config in all_config %}{% if config.age and not config.gender and config.algoB %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if not config.age and config.gender and config.algoB %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if config.age and config.gender and config.algoB %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
  </tr>
  <tr>
    <th>Algo C</th>
    <th>{% for config in all_config %}{% if config.age and not config.gender and config.algoC %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if not config.age and config.gender and config.algoC %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
    <th>{% for config in all_config %}{% if config.age and config.gender and config.algoC %}{{ config.print_like_ratio }}{% endif %}{% endfor %}</th>
  </tr>
</table>
    <br>
{% else %}
    <p>No info available.</p>
{% endif %}







          </div>
        </div>





{% block left_sidebar %}
      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="result.html">Recommendation result</a></li>
                <li><a href="settings.html">Change settings</a></li>
                <li><a href="personal.html">Votes summary</a></li>
                <li><a href="consensus.html">Mediation summary</a></a></li>
                <li><a href="http://mediationtool.pythonanywhere.com/newsfeed/index.html">Exit</a></li>
              </ul>
            </nav>

        {% block footer %}
            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">ReEnTrust 2020
              <br>Contact: <a href = "mailto: blegaste@ed.ac.uk">blegaste@ed.ac.uk</a>
              <br>Designed based on <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>
        {% endblock footer %}

          </div>
        </div>
{% endblock left_sidebar %}

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/newsfeed/vendor/jquery/jquery.min.js"></script>
    <script src="/static/newsfeed/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/newsfeed/assets/js/browser.min.js"></script>
    <script src="/static/newsfeed/assets/js/breakpoints.min.js"></script>
    <script src="/static/newsfeed/assets/js/transition.js"></script>
    <script src="/static/newsfeed/assets/js/owl-carousel.js"></script>
    <script src="/static/newsfeed/assets/js/custom.js"></script>
</body>


  </body>

</html>
