<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    {% block site_title %}
    <title>Mediation Tool (prototype)</title>
    {% endblock site_title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/newsfeed/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/newsfeed/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/owl.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/tabs.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/accordion.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            {% block header_wrapper %}
            <!-- Header -->
            <header id="header">
            {% block header_logo %}
              <div class="logo">
                <a href="">Mediation tool</a>
              </div>
            {% endblock header_logo %}
            </header>
            {% endblock header_wrapper %}

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Scenario</h1>
                    <h3>Our fictionnal character</h3>
                    <p> We present a hypothetical person browsing a newsfeed platform.</p>
                    <p> We’ll call the person Alex. Alex is 27 years old Web developer and designer, residing at Oxford, United Kingdom. </p>
                    <p>During the last few days, Alex has spent time reading news about International Politics.
                    However, Alex usually likes and shares IT and Science related news on the platform.</p>
                    <p> Alex shares similar demographic information with another user Eli who usually likes and shares news about Entertainment and Arts.</p>
                    <h3>Newsfeed platform algorithm</h3>
                    <p> Newsfeed platforms use an algorithm to suggest the best news content to everyone.
                        They may try to achieve this by the types of news a user read before (<b>feature A</b>),
                        based on some broad demographic information about a user (<b>feature B</b>),
                        by a user’s location (<b>feature C</b>), or prioritising sponsored news items (<b>feature D</b>).
                    </p>
                    <p>To recommend news content to Alex, we present how the above four features can be used
                        by a newsfeed algorithm. Each of these features are used to suggest to Alex what may
                        matter the most to him.
                    </p>
                    <hr>
                    <p><font face="Arial" size="4px" color="#474BB7"><b>Task 2: Please read through the
                    description of each feature and their suggested news items and provide your opinion
                    on each of the features.</b></font></p>
                    <p><font face="Arial" size="4px" color="#713CAA">After you rate each feature,
                    you should <u>click on the next tab</u> to read through the next feature. </font></p>
                    <p><font face="Arial" size="4px" color="#713CAA"><u>Once you have read through all the
                    four features</u>, then please click "Go to Votes" to see a summary of your votes and
                    how your votes compared to the aggregated votes of other participants.</font></p>
                    </div>
                </div>
              </div>
            </div>

<br>

 <!-- Tab links -->
<div class="tab">
  {% if doneA %}
  <button class="tablinks" onclick="openCity(event, 'algoA')"><s>Cookies</s></button>
  {% else %}
  <button class="tablinks" onclick="openCity(event, 'algoA')" id="defaultOpen">Cookies</button>
  {% endif %}
  {% if doneB %}
  <button class="tablinks" onclick="openCity(event, 'algoB')"><s>Profile</s></button>
  {% elif doneA %}
  <button class="tablinks" onclick="openCity(event, 'algoB')" id="defaultOpen">Profile</button>
  {% else %}
  <button class="tablinks" onclick="openCity(event, 'algoB')">Profile</button>
  {% endif %}
  {% if doneC %}
  <button class="tablinks" onclick="openCity(event, 'algoC')"><s>Location</s></button>
  {% elif doneA and doneB %}
  <button class="tablinks" onclick="openCity(event, 'algoC')" id="defaultOpen">Location</button>
  {% else %}
  <button class="tablinks" onclick="openCity(event, 'algoC')">Location</button>
  {% endif %}
  {% if doneD %}
  <button class="tablinks" onclick="openCity(event, 'algoD')"><s>Sponsors</s></button>
  {% elif doneA and doneB and doneC %}
  <button class="tablinks" onclick="openCity(event, 'algoD')" id="defaultOpen">Sponsors</button>
  {% else %}
  <button class="tablinks" onclick="openCity(event, 'algoD')">Sponsors</button>
  {% endif %}
</div>

<!-- Tab content -->
<div id="algoA" class="tabcontent">
    <br>
<!--  <h3>How cookies are used by the platform?</h3> -->
    <h3>How is browsing history used by the platform?</h3>
  <p>The platform suggests news content to Alex based on their browsing history:
  it uses the cookies accepted by Alex to detect Alex’s visited pages.</p>
  <p>Since Alex has recently seen news about International Politics, and usually likes
  news about IT and Science, the platform would suggest the following items to Alex.</p>

<section class="simple-post">
<div class="container-fluid">

{% if all_newsA %}
    {% for news in all_newsA %}
        <ul>
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ news.title }}</h2>
                Category: {{news.category}}
                <p>{{ news.body }}</p>
            </div>
        </div>
        <br>
        </ul>
    {% endfor %}
    <br>
{% else %}
    <p>No news are available.</p>
{% endif %}
<br><br><hr><br>
<h3>What is your opinion on the use of browsing history by the platform?</h3>
<p2>1) Do you think <u>using browsing history</u> gives news items that are relevant and interesting for Alex?</p2>
<br>
<form method="post">
{% csrf_token %}
<br>
    <div class="col-md-4">
    <input type="radio" name="approveA" id="id_yesA" value="yes">
    <label for="id_yesA">Yes</label>
    </div>
    <div class="col-md-4">
    <input type="radio" name="approveA" id="id_noA" value="no">
    <label for="id_noA">No</label><br>
    </div>
    <br>
    <label for="id_comment">2) Please briefly explain your opinion on this feature:</label>&nbsp;&nbsp;
    <div class="textarea-container">
        <textarea onkeydown="totalCharsA(this)" id="id_comment" name="commentA" rows="4" cols="50" required></textarea>
        <div>Total Characters: <span id="totalCharsA"> 0</span>/2000</div>
    </div><br>
<br>
<button type="submit">Submit</button>
</form>
</div>
</section>
</div>

<div id="algoB" class="tabcontent">
    <br>
  <h3>How is demographic information used by the algorithm?</h3>
  <p>The platform suggests news content to Alex based on a similar user’s favourites. Since Alex has a personal profile,
  the platform will use their demographic to be able to find similar users in its database. </p>
  <p>Since Elihas the same gender, age and location as Alex, and she likes Entertainment and
  Arts content, the platform would suggest the following items to Alex</p>

<section class="simple-post">
<div class="container-fluid">

{% if all_newsB %}
    {% for news in all_newsB %}
        <ul>
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ news.title }}</h2>
                Category: {{news.category}}
                <p>{{ news.body }}</p>
            </div>
        </div>
        <br>
        </ul>
    {% endfor %}
    <br>
{% else %}
    <p>No news are available.</p>
{% endif %}
<br><br><hr><br>

<h3>What is your opinion on the use of demographic information?</h3>
<p2>1) Do you think <u>using demographic information</u> gives news items that are relevant and interesting for Alex?</p2>
<br>
<form method="post">
{% csrf_token %}
<br>
    <div class="col-md-4">
    <input type="radio" name="approveB" id="id_yesB" value="yes">
    <label for="id_yesB">Yes</label>
    <div class="col-md-4">
    </div>
    <input type="radio" name="approveB" id="id_noB" value="no">
    <label for="id_noB">No</label><br>
    </div>
    <label for="id_comment">2) Please briefly explain your opinion on this feature:</label>&nbsp;&nbsp;
    <div class="textarea-container">
        <textarea onkeydown="totalCharsB(this)" id="id_comment" name="commentB" rows="4" cols="50" required></textarea>
        <div>Total Characters: <span id="totalCharsB"> 0</span>/2000</div>
    </div><br>
<br>
<button type="submit">Submit</button>
</form>
</div>
</section>
</div>

<div id="algoC" class="tabcontent">
    <br>
  <h3>How is location used by the platform?</h3>
  <p>The platform suggests news content to Alex based on Alex’s current location: they are located in Oxford so
  they are shown news related to Oxfordshire and Oxford city.</p>


<section class="simple-post">
<div class="container-fluid">

{% if all_newsC %}
    {% for news in all_newsC %}
        <ul>
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ news.title }}</h2>
                Category: {{news.category}}
                <p>{{ news.body }}</p>
            </div>
        </div>
        <br>
        </ul>
    {% endfor %}
    <br>
{% else %}
    <p>No news are available.</p>
{% endif %}
<br><br><hr><br>
<h3>What is your opinion on the use of location</h3>
<p2>1) Do you think <u>using location</u> gives news items that are relevant and interesting for Alex?</p2>
<br>
<form method="post">
{% csrf_token %}
<br>
    <div class="col-md-4">
    <input type="radio" name="approveC" id="id_yesC" value="yes">
    <label for="id_yesC">Yes</label>
    </div>
    <div class="col-md-4">
    <input type="radio" name="approveC" id="id_noC" value="no">
    <label for="id_noC">No</label><br>
    </div>
    <label for="id_comment">2) Please briefly explain your opinion on this feature:</label>&nbsp;&nbsp;
    <div class="textarea-container">
        <textarea onkeydown="totalCharsC(this)" id="id_comment" name="commentC" rows="4" cols="50" required></textarea>
        <div>Total Characters: <span id="totalCharsC"> 0</span>/2000</div>
    </div>
    <br>
<br>
<button type="submit">Submit</button>
</form>
</div>
</section>
</div>

<div id="algoD" class="tabcontent">
    <br>
  <h3>What happens when the platform uses no personal information?</h3>
  <p>If Alex has refused to allow the platform to access his browsing history,
  his demographics information or location,, then the platform would have to show
  non personalised news content. This contains sponsored and trending news items
  (e.g . NHS official communication and Covid-19 news).</p>
  <p>However, most of the time, the platform would include such content anyway since
  its business model is based on sponsors.</p>

<section class="simple-post">
<div class="container-fluid">

{% if all_newsD %}
    {% for news in all_newsD %}
        <ul>
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ news.title }}</h2>
                Category: {{news.category}}
                <p>{{ news.body }}</p>
            </div>
        </div>
        <br>
        </ul>
    {% endfor %}
    <br>
{% else %}
    <p>No news are available.</p>
{% endif %}
<br><br><hr><br>
<h3>What is your opinion on the use of sponsors?</h3>
<p2>1) Do you think <u>using sponsors</u> gives news items that are relevant and interesting for Alex</p2>
<br>
<form method="post">
{% csrf_token %}
<br>
    <div class="col-md-4">
    <input type="radio" name="approveD" id="id_yesD" value="yes">
    <label for="id_yesD">Yes</label>
    </div>
    <div class="col-md-4">
    <input type="radio" name="approveD" id="id_noD" value="no">
    <label for="id_noD">No</label><br>
    </div>
    <label for="id_comment">2) Please briefly explain your opinion on this feature:</label>&nbsp;&nbsp;
    <div class="textarea-container">
        <textarea onkeydown="totalCharsD(this)" id="id_comment" name="commentD" rows="4" cols="50" required></textarea>
        <div>Total Characters: <span id="totalCharsD"> 0</span>/2000</div>
    </div>
    <br><span id='remainingC'></span>



<br>
<br>
<button type="submit">Submit</button>
</form>
</div>
</section>
</div>



<section class="simple-post">
<div class="container-fluid">
<h3>What to do next?</h3>
{% if all_votes %}

    <p><font face="Arial" size="4px" color="#474BB7">Click "Go to Votes" below to go to the <b>votes summary</b>
    page where you will see your votes compared to the votes of other participants.</font></p>
    <br>

    <div class="primary-button">
        <a href="votes.html">Go to Votes</a>
    </div>
<br>
{% else %}
<p><font face="Arial" size="4px" color="#474BB7">You need to review all the features to continue.</font></p>
{% endif %}
</div>
</section>



          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="analyse.html">Personal Analysis</a></li>
<!--                <li><a href="">Votes Summary</a></li>
                <li><a href="">Mediation Process</a></a></li>-->
                <li><a href="http://mediationtool.pythonanywhere.com/newsfeed/index.html">Exit</a></li>
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">ReEnTrust 2020
              <br>Contact: <a href = "mailto: blegaste@ed.ac.uk">blegaste@ed.ac.uk</a>
              <br>Designed based on <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/newsfeed/vendor/jquery/jquery.min.js"></script>
    <script src="/static/newsfeed/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/newsfeed/assets/js/browser.min.js"></script>
    <script src="/static/newsfeed/assets/js/breakpoints.min.js"></script>
    <script src="/static/newsfeed/assets/js/transition.js"></script>
    <script src="/static/newsfeed/assets/js/owl-carousel.js"></script>
    <script src="/static/newsfeed/assets/js/custom.js"></script>
    <script src="/static/newsfeed/assets/js/tabs.js"></script>
    <script src="/static/newsfeed/assets/js/totalchar.js"></script>

</body>


  </body>

</html>
