<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    {% block site_title %}
    <title>Mediation Tool (prototype)</title>
    {% endblock site_title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/newsfeed/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->
    {% block head_css %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/newsfeed/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/owl.css">
    {% endblock head_css %}

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            {% block header_wrapper %}
            <!-- Header -->
            <header id="header">
            {% block header_logo %}
              <div class="logo">
                <a href="index.html">Mediation tool</a>
              </div>
            {% endblock header_logo %}
            </header>
            {% endblock header_wrapper %}

            {% block banner_wrapper %}
            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                        {% block banner_title %}
                          <div class="banner-caption">
                            <h4>Hello, this is a <em>Mediation Tool</em>.</h4>
                            <span>by ReEnTrust Project</span>
                            <p>The Mediation Tool is a platform developed by the ReEnTrust Project to experiment about users’ empowerment on recommendation systems. More at <a href="http://reentrust.org/">http://reentrust.org/</a></p>
                          </div>
                        {% endblock banner_title %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            {% endblock banner_wrapper %}

           <!-- Services -->
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="service-item first-item">
                      <div class="icon"></div>
                      <h4>Result</h4>
                      <p>This page will show you a news recommendation that is first given by default but can be updated according to your settings.</p>
                      <div class="primary-button">
                        <a href="result.html">See results</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <div class="icon"></div>
                      <h4>Privacy</h4>
                      <p>This page will show you the profile of the user to who the recommendation is given. You can observe the used data and the tool offers you the opportunity to modulate them.</p>
                      <div class="primary-button">
                        <a href="privacy.html">Experiment with Privacy</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Transparency</h4>
                      <p>This page will show you the settings of the algorithm and provides an explanation for each. You will have the opportunity to change these settings and check the consequences on the result.</p>
                      <div class="primary-button">
                        <a href="transparency.html">Experiment with Transparency</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

<!--
            Top Image -->
            <section class="top-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="/static/newsfeed/assets/images/reentrust_logo.png" alt="">
                    <div class="down-content">
                      <h4>About</h4>
<p>ReEnTrust is an EPSRC research project (<a href="https://gow.epsrc.ukri.org/NGBOViewGrant.aspx?GrantRef=EP/R033633/1">EP/R033633/1</a>) funded under the Trust, Identity, Privacy and Security in the Digital Economy 2.0 (<a href="https://epsrc.ukri.org/funding/calls/tips2/">TIPS2</a>) call.</p>



<p>The project is a collaboration between researchers from:</p>



<ul>
<li><a href="https://www.cs.ox.ac.uk/activities/HCC/" target="_blank" rel="noreferrer noopener">Human Centred Computing Group</a> at the, <a href="http://www.ox.ac.uk/" target="_blank" rel="noreferrer noopener">University of Oxford</a></li>
<li>The <a href="http://web.inf.ed.ac.uk/cisa/" target="_blank" rel="noreferrer noopener">Centre for Intelligent Systems and their Applications (CISA)</a> at the <a href="http://www.ed.ac.uk/" target="_blank" rel="noreferrer noopener">University of Edinburgh</a></li>
<li><a href="http://www.horizon.ac.uk/" target="_blank" rel="noreferrer noopener">HORIZON Digital Economy Research</a> at the <a href="https://www.nottingham.ac.uk/" target="_blank" rel="noreferrer noopener">University of Nottingham</a></li>
</ul>

                    </div>
                  </div>
                </div>
              </div>
            </section>
<!-- -->
<!-- 
                Left Image -->
            <section class="left-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <!-- img src="/static/newsfeed/assets/images/left-image.jpg" alt="" -->
                  </div>
                  <div class="col-md-6">
                    <div class="right-content">
                      <h4></h4>
                      <p> </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
<!-- -->

<!-- 
                Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4></h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- img src="/static/newsfeed/assets/images/right-image.jpg" alt="" -->
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
<!-- -->

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="result.html">Result</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="transparency.html">Transparency</a></li>
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">ReEnTrust 2020
              <br>Designed based on <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/newsfeed/vendor/jquery/jquery.min.js"></script>
    <script src="/static/newsfeed/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/newsfeed/assets/js/browser.min.js"></script>
    <script src="/static/newsfeed/assets/js/breakpoints.min.js"></script>
    <script src="/static/newsfeed/assets/js/transition.js"></script>
    <script src="/static/newsfeed/assets/js/owl-carousel.js"></script>
    <script src="/static/newsfeed/assets/js/custom.js"></script>
</body>


  </body>

</html>
