<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    {% block site_title %}
    <title>Mediation Tool (prototype)</title>
    {% endblock site_title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/newsfeed/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/newsfeed/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/owl.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/tabs.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/simpleslider.css">


  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            {% block header_wrapper %}
            <!-- Header -->
            <header id="header">
            {% block header_logo %}
              <div class="logo">
                <a href="">Mediation tool</a>
              </div>
            {% endblock header_logo %}
            </header>
            {% endblock header_wrapper %}

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Can we address your concerns?</h3>
                    <p>For each feature, this page compares your comments on news items recommended to Alex with arguments from other participants
                    who have been in favor of the opposite opinion. Please read through each counter argument and see
                    whether this may change your concern about each feature. </p>
                    <p><font face="Arial" size="4px" color="#474BB7"><b>Task 4:  Read through the different arguments opposed to your comments.
                    Then give us some feedback on that mediation process by answering the question.</b></font></p>
                  </div>
                </div>
              </div>
            </div>

<br>


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'AlgoA')" id="defaultOpen">Cookies</button>
  <button class="tablinks" onclick="openCity(event, 'AlgoB')">Profile</button>
  <button class="tablinks" onclick="openCity(event, 'AlgoC')">Location</button>
  <button class="tablinks" onclick="openCity(event, 'AlgoD')">Sponsor</button>
</div>


<div id="AlgoA" class="tabcontent">
    <br>
    <ti><h4>Mediation about cookies</h4></ti><br>
    {% if yesA %}
    <ul>
        <li><b>Your opinion:</b> you found the suggested news items relevant for Alex. <br></li>
        <li><b>Your concern:</b> you {{ concernA }} sharing your browsing history yourself on a newsfeed platform. <br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument against using cookies that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commA}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_consA}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
    {% if noA %}
    <ul>
        <li><b>Your opinion:</b> you did not find the suggested news items relevant for Alex.<br><br></li>
        <li><b>Your concern:</b> you {{ concernA }} sharing your browsing history yourself on a newsfeed platform. <br><br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument for using cookies that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commA}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_proA}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
</div>


<div id="AlgoB" class="tabcontent">
    <br>
    <centre><h4>Mediation about demographic information</h4></centre><br>
    {% if yesB %}
    <ul>
        <li><b>Your opinion:</b> you found the suggested news items relevant for Alex.<br></li>
        <li><b>Your concern:</b> you {{ concernB }} creating a profile with personal information on a newsfeed platform<br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument against personal profiles that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commB}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_consB}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
    {% if noB %}
    <ul>
        <li><b>Your opinion:</b> you did not find the suggested news items relevant for Alex.<br></li>
        <li><b>Your concern:</b> you {{ concernB }} creating a profile with personal information on a newsfeed platform<br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument for personal profiles that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commB}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_proB}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
</div>





<div id="AlgoC" class="tabcontent">
    <br>
    <centre><h4>Mediation about sharing location</h4></centre><br>
    {% if yesC %}
    <ul>
        <li><b>Your opinion:</b> you found the suggested news items relevant for Alex.<br></li>
        <li><b>Your concern:</b> you {{ concernC }} sharing your location yourself on a newsfeed platform.<br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument against sharing location that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commC}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_consC}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
    {% if noC %}
    <ul>
        <li><b>Your opinion:</b> you did not find the suggested news items relevant for Alex.<br></li>
        <li><b>Your concern:</b> you {{ concernC }} sharing your location yourself on a newsfeed platform. <br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument for sharing location that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commC}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_proC}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
</div>




<div id="AlgoD" class="tabcontent">
    <br>
    <centre><h4>Mediation about sponsored content</h4></centre><br>
    {% if yesD %}
    <ul>
        <li><b>Your opinion:</b> you found the suggested news items relevant for Alex.<br></li>
        <li><b>Your concern:</b> you {{ concernD }} being shown sponsored items on a newsfeed platform.<br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument against sponsored content that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commD}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_consD}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
    {% if noD %}
    <ul>
        <li><b>Your opinion:</b> you did not find the suggested news items relevant for Alex. <br></li>
        <li><b>Your concern:</b> you {{ concernD }} being shown sponsored items on a newsfeed platform.<br></li>
    </ul>
    <hr>
        <p2>Here is your comment and an argument for sponsored content that someone else could oppose to you:</p2>
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Your comment:</h4>
                      <p>{{commD}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>Opposed argument:</h4>
                      <p>{{comment_proD}}.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endif %}
</div>



<section class="simple-post">
    <div class="container-fluid">

        <form method="post">
        {% csrf_token %}
        <h4>1) Please indicate how much you agree or disagree with the following statements.</h4><br>
<!--
        <input type="radio" name="approve" id="id_yesA" value="yes">
        <label for="id_yesA">Yes</label><br>
        <input type="radio" name="approve" id="id_noA" value="no">
        <label for="id_noA">No</label><br>
        <br>
        <label for="id_comment">Give us your reason (required):</label>&nbsp;&nbsp;
        <input type="textarea" id="id_comment" name="comment" required>
        <br>
-->
            <p2>a) As a user, I am fine with newsfeed having access to my browsing history</p2> <br>
<br>
             <div class="range">
              <input type="range" name="algoAchangeConcern" id="id_algoAchangeConcern" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>b) As a user, I am fine with newsfeed knowing my demographic information</p2> <br>
<br>
             <div class="range">
              <input type="range" name="algoBchangeConcern" id="id_algoBchangeConcern" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>c) As a user, I am fine with newsfeed having access to my location</p2> <br>

<br>
             <div class="range">
              <input type="range" name="algoCchangeConcern" id="id_algoCchangeConcern" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>d) As a user, I am fine with newsfeed showing sponsored content to me</p2> <br>
<br>
             <div class="range">
              <input type="range" name="algoDchangeConcern" id="id_algoDchangeConcern" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>
<!--
        <h4>2) How are you impacted by this mediation?</h4>
        <br>


        <input type="checkbox" name="perception1" id="id_perception1">
        <label for="id_algoA">I feel I could be more in control of my personal information with this mediation process</label><br>
        <input type="checkbox" name="perception2" id="id_perception2">
        <label for="id_algoB">I feel more confident towards newsfeed platforms</label><br>
        <input type="checkbox" name="perception3" id="id_perception3">
        <label for="id_algoC">I feel more informed about newsfeed algorithms</label><br>
        <input type="checkbox" name="perception4" id="id_perception4">
        <label for="id_algoC">I feel a willing of fairness with this mediation process</label><br>
1) I feel more confident I am making the right choices when I use newsfeed platforms

2) I feel more informed about how newsfeed platforms work

3) I feel more in control regarding how my data is used on newsfeed platforms

4) I am more positive now about how platforms use data

-->

        <h4>2) Please indicate how much you agree or disagree with the following statements.</h4><br>
<!--
        <input type="radio" name="approve" id="id_yesA" value="yes">
        <label for="id_yesA">Yes</label><br>
        <input type="radio" name="approve" id="id_noA" value="no">
        <label for="id_noA">No</label><br>
        <br>
        <label for="id_comment">Give us your reason (required):</label>&nbsp;&nbsp;
        <input type="textarea" id="id_comment" name="comment" required>
        <br>
-->
            <p2>a) I feel more confident I am making the right choices when I use newsfeed platforms</p2> <br>
<br>
             <div class="range">
              <input type="range" name="confident" id="id_confident" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>b) I feel more informed about how newsfeed platforms work</p2> <br>
<br>
             <div class="range">
              <input type="range" name="informed" id="id_informed" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>c) I feel more in control regarding how my data is used on newsfeed platforms</p2> <br>

<br>
             <div class="range">
              <input type="range" name="incontrol" id="id_incontrol" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>

            <p2>d) I am more positive now about how platforms use data</p2> <br>
<br>
             <div class="range">
              <input type="range" name="positive" id="id_positive" step = "1" min="0" max="5" value="3" class="slider" width="400px">
              <div class="sliderticks">
                <p>Don't know</p>
                <p>Strongly disagree</p>
                <p>Disagree</p>
                <p>No preference</p>
                <p>Agree</p>
                <p>Strongly Agree</p>
              </div>
            <br><br><hr><br>


            <h4>3) What is your opinion about the whole mediation tool (possibility to vote for a feature, display of others' votes, display of others' arguments)</h4>
            <!-- <label for="id_comment">Please briefly explain why (Max 100 words):</label>&nbsp;&nbsp; -->
            <br><label for="id_comment_tool">(Max 2000 characters)</label><br>
            <div class="textarea-container">
                <textarea onkeydown="totalChars3(this)" id="id_comment_tool" name="comment_tool" rows="4" cols="50" required></textarea>
                <div>Total Characters: <span id="totalChars3"> 0</span>/2000</div>
            </div>

            <br><br><hr><br>

            <h4>4) Are there any other features that you would like to be able to discuss?</h4>
            <br><label for="id_comment_features">(Max 2000 characters)</label><br>
            <div class="textarea-container">
                <textarea onkeydown="totalChars4(this)" id="id_comment_features" name="comment_features" rows="4" cols="50" required></textarea>
                <div>Total Characters: <span id="totalChars4"> 0</span>/2000</div>
            </div>

            <br><br><hr><br>

        <br>
        <br>
        <button type="submit">Submit and exit</button>
        </form>
    </div>
</section>


          </div>
        </div>





{% block left_sidebar %}
      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="analyse.html">Personal Analysis</a></li>
                <li><a href="votes.html">Votes Summary</a></li>
                <li><a href="mediation.html">Mediation Process</a></a></li>
                <li><a href="http://mediationtool.pythonanywhere.com/newsfeed/index.html">Exit</a></li>
              </ul>
            </nav>

        {% block footer %}
            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">ReEnTrust 2020
              <br>Contact: <a href = "mailto: blegaste@ed.ac.uk">blegaste@ed.ac.uk</a>
              <br>Designed based on <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>
        {% endblock footer %}

          </div>
        </div>
{% endblock left_sidebar %}

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->


    <script src="/static/newsfeed/vendor/jquery/jquery.min.js"></script>
    <script src="/static/newsfeed/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/newsfeed/assets/js/browser.min.js"></script>
    <script src="/static/newsfeed/assets/js/breakpoints.min.js"></script>
    <script src="/static/newsfeed/assets/js/transition.js"></script>
    <script src="/static/newsfeed/assets/js/owl-carousel.js"></script>
    <script src="/static/newsfeed/assets/js/custom.js"></script>
    <script src="/static/newsfeed/assets/js/tabs.js"></script>
    <script src="/static/newsfeed/assets/js/totalchar.js"></script>

</body>


  </body>

</html>
