<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    {% block site_title %}
    <title>Mediation Tool (prototype)</title>
    {% endblock site_title %}

    <!-- Bootstrap core CSS -->
    <link href="/static/newsfeed/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/newsfeed/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/newsfeed/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            {% block header_wrapper %}
            <!-- Header -->
            <header id="header">
            {% block header_logo %}
              <div class="logo">
                <a href="index.html">Mediation tool</a>
              </div>
            {% endblock header_logo %}
            </header>
            {% endblock header_wrapper %}

            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h1>Transparency settings</h1>
                    <p><strong>These results</strong> are given according to your settings and choices.</p>
                  </div>
                </div>
              </div>
            </div> 

{% block content %}
              <section class="simple-post">
              <div class="container-fluid">
              
               <div class="row">
                  <div class="col-lg-4">
						<h2>Algorithm A</h2>
                      <p>This option makes the results only rely on similar users' favorite.</p>
                      <br>
                  </div>
                  <div class="col-lg-4">
						<h2>Algorithm B</h2>
                      <p>This option makes the results only rely on user's like history.</p>
                      <br>
                  </div>
                  <div class="col-lg-4">
						<h2>Algorithm C</h2>
                      <p>This option mixes algorithm A and B: it suggests results that fit with user's like history as well as similar users' favorite.</p>
                  </div>
                </div>
                
              </div>
              <br>
              <div class="container-fluid">
              
                <div class="row">
                    <div class="col-lg-4">
                        <div class="border-rounded-button">
                            <a href="#">I prefer this algorithm</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border-rounded-button">
                            <a href="#">I prefer this algorithm</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border-rounded-button">
                            <a href="#">I prefer this algorithm</a>
                        </div>
                    </div>
                </div>
                
              </div>

              </section>
          </div>
        </div>
{% endblock content %}

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="result.html">Result</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="transparency.html">Transparency</a></li>
                <li><a href="personal.html">Personal view</a></li>
                <li><a href="consensus.html">Consensus</a></li>
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">ReEnTrust 2020
              <br>Designed based on <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/newsfeed/vendor/jquery/jquery.min.js"></script>
    <script src="/static/newsfeed/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/newsfeed/assets/js/browser.min.js"></script>
    <script src="/static/newsfeed/assets/js/breakpoints.min.js"></script>
    <script src="/static/newsfeed/assets/js/transition.js"></script>
    <script src="/static/newsfeed/assets/js/owl-carousel.js"></script>
    <script src="/static/newsfeed/assets/js/custom.js"></script>
</body>


  </body>

</html>
